# Contents
1. Import Libraries and Data, Cleanup
2. Subsetting Income Classes

# 1. Import Libraries and Data, Cleanup

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# define path
path = r'C:\Users\heidi\Desktop\Analyses\A6 Data Project'

In [2]:
# This command propts matplotlib visuals to appear in the notebook 

%matplotlib inline

In [3]:
#import csv
real = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'real.5.1.22.csv'), index_col = False)

In [4]:
real.head()

,Unnamed: 0,state,city,type,lat,lng,pop,male_pop,female_pop,rent_mean,income_mean,mort_exp_mean,expenses_mean,hs_degree,hs_degree_male,hs_degree_female,male_age_mean,female_age_mean,pct_own,rent_cost
0,0,Alaska,Unalaska,City,53.621091,-166.770979,4619,2725,1894,1366.24657,107394.63090,2266.225620,840.67205,0.82841,0.82784,0.82940,38.45838,32.78177,0.25053,medium
1,1,Alaska,Eagle River,City,61.174250,-149.284329,3727,1780,1947,2347.69441,136547.39120,2485.107770,712.33066,0.94090,0.97253,0.91503,37.26216,38.97956,0.94989,high
2,2,Alaska,Jber,City,61.284745,-149.653973,8736,5166,3570,2071.30766,69361.23167,1631.830383,525.89101,0.99097,0.99661,0.98408,21.96291,22.20427,0.00759,high
3,3,Alaska,Anchorage,City,61.229560,-149.893037,1941,892,1049,943.79086,66790.89936,2289.791860,491.86501,0.89274,0.94301,0.84871,35.81912,37.00750,0.20247,medium
4,4,Alaska,Anchorage,City,61.217082,-149.767214,5981,3076,2905,1372.84472,76752.81635,1904.164100,681.80199,0.95351,0.96060,0.94669,34.13110,34.96611,0.56936,medium

In [5]:
#drop unneeded columns
real2 = real.drop(columns = ['Unnamed: 0', 'male_pop', 'female_pop', 'hs_degree_male', 'hs_degree_female', 'male_age_mean', 'female_age_mean'])
real2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39030 entries, 0 to 39029
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          39030 non-null  object
 1   city           39030 non-null  object
 2   type           39030 non-null  object
 3   lat            39030 non-null  float64
 4   lng            39030 non-null  float64
 5   pop            39030 non-null  int64
 6   rent_mean      39030 non-null  float64
 7   income_mean    39030 non-null  float64
 8   mort_exp_mean  39030 non-null  float64
 9   expenses_mean  39030 non-null  float64
 10  hs_degree      39030 non-null  float64
 11  pct_own        39030 non-null  float64
 12  rent_cost      38568 non-null  object
dtypes: float64(8), int64(1), object(4)
memory usage: 3.9+ MB

# 2. Subset by Income Class

In [6]:
# define categories: according to https://www.investopedia.com, in 2017 lower class would be defined as earning below 42,000$
real2.loc[real2['income_mean'] <= 42000, 'income_class'] = 'low'

In [7]:
# according to https://www.investopedia.com, in 2017 middle class would be defined as earning between 42,000$ and 126,000$
real2.loc[(real2['income_mean'] > 42001) & (real2['income_mean'] < 126000), 'income_class'] = 'medium'

In [8]:
# according to https://www.investopedia.com, in 2017 upper class would be defined as anything above 126,000$
real2.loc[real2['income_mean'] >= 126000, 'income_class'] = 'upper'

In [9]:
real2['income_class'].value_counts(dropna = False)

medium    31124
low        5660
upper      2246
Name: income_class, dtype: int64

In [11]:
real2['state'].value_counts(dropna = False)

California              4193
Texas                   2767
New York                2565
Florida                 2289
Pennsylvania            1735
Illinois                1593
Ohio                    1538
Michigan                1463
North Carolina          1167
Georgia                 1078
New Jersey              1009
Virginia                1006
Washington               806
Indiana                  802
Arizona                  798
Tennessee                792
Massachusetts            777
Maryland                 764
Missouri                 732
Wisconsin                732
Minnesota                699
Colorado                 668
Alabama                  612
Louisiana                608
Kentucky                 577
South Carolina           561
Oklahoma                 552
Puerto Rico              489
Oregon                   454
Connecticut              445
Kansas                   440
Iowa                     415
Arkansas                 363
Nevada                   355
Mississippi              351
Utah                     331
New Mexico               287
Nebraska                 274
West Virginia            265
Maine                    190
Hawaii                   174
Montana                  161
New Hampshire            157
Idaho                    148
Rhode Island             128
South Dakota             128
North Dakota             110
Delaware                 109
Alaska                   105
District of Columbia      98
Vermont                   95
Wyoming                   75
Name: state, dtype: int64

In [12]:
# Drop rows with Puerto Rico from state column
index = real2[real2['state'] == 'Puerto Rico'].index
real2.drop(index, inplace = True)
real2['state'].value_counts(dropna = False)

California              4193
Texas                   2767
New York                2565
Florida                 2289
Pennsylvania            1735
Illinois                1593
Ohio                    1538
Michigan                1463
North Carolina          1167
Georgia                 1078
New Jersey              1009
Virginia                1006
Washington               806
Indiana                  802
Arizona                  798
Tennessee                792
Massachusetts            777
Maryland                 764
Missouri                 732
Wisconsin                732
Minnesota                699
Colorado                 668
Alabama                  612
Louisiana                608
Kentucky                 577
South Carolina           561
Oklahoma                 552
Oregon                   454
Connecticut              445
Kansas                   440
Iowa                     415
Arkansas                 363
Nevada                   355
Mississippi              351
Utah                     331
New Mexico               287
Nebraska                 274
West Virginia            265
Maine                    190
Hawaii                   174
Montana                  161
New Hampshire            157
Idaho                    148
Rhode Island             128
South Dakota             128
North Dakota             110
Delaware                 109
Alaska                   105
District of Columbia      98
Vermont                   95
Wyoming                   75
Name: state, dtype: int64

In [13]:
#export the csv
real2.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'real.5.8.22.csv'))